<div class="container">
  <div class="chat-div" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>" data-user="<%= current_user.id %>">
    <% participant = @chatroom.requester == current_user ? @chatroom.receiver : @chatroom.requester %>
    <h1 id="name"> <%= cl_image_tag participant.photo.key, class: "avatar dropdown-toggle" %> <%= participant.full_name %> </h1>
    <div class="container chatroom" >
      <div class="flex-grow-1">
        <br>

        <div class="messages flex-grow-1" data-chatroom-subscription-target="messages">

          <% @chatroom.messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>

        </div>
        <br>
      </div>
    </div>

      <%= simple_form_for [@chatroom, @message],
      html: {class: "d-flex", data: {chatroom_subscription_target: "form"}} do |f|
      %>
        <%= f.input :content,
          label: false,
          placeholder: "Message #{participant.first_name}...",
          wrapper_html: {class: "flex-grow-1"}, input_html: { class: "input-message"}
        %>
        <%= f.submit "Send", class:"btn btn-primary mb-3"%>
      <% end %>
  </div>
</div>
