  <div class="container">
    <h1 class="heading text-warning fw-bolder">🧗 <strong> Climbing Buddies Matches </strong> 🧗</h1>
    <div class="cards">
        <% @users.each do |user| %>

            <%= link_to user_path(user) do %>
              <div class="card-trip">
                <%= cl_image_tag user.photo.key %>
                <div class="card-trip-infos">
                  <div>
                    <span><%= user.full_name %></span>
                    <%= user.gender == "male" ? '<i class="fa-solid fa-mars"></i>'.html_safe : '<i class="fa-solid fa-venus"></i>'.html_safe %>
                    <br>
                    <%= user.level %>
                    <br>
                    📍 <span class="locationcolor"><%= user.location %></span>
                    <br>
                    <span><%= user.types_of_climbing %></span>
                  </div>
                </div>
              </div>
            <% end %>
        <% end %>
    </div>

    <%= form_tag users_path, method: :get, class: "d-flex" do %>

      <%= text_field_tag :location, params[:location], value:params[:location], class: "form-control fs-5", placeholder: "Select Location"%>

      <%= text_field_tag :gender, params[:gender], collection:["male", "female"], class: "form-control fs-5", placeholder: "Select Gender"%>

      <%= text_field_tag :level, params[:level], collection:["beginner", "intermediate", "advanced intermediate", "advanced"], class: "form-control fs-5", placeholder: "Select Level"%>

      <%= text_field_tag :types_of_climbing, params[:types_of_climbing], collection:["indoor sport climbing", "indoor top roping", "outdoor bouldering", "outdoor sport climbing", "outdoor trad climbing"], class: "form-control fs-5", placeholder: "Select Type of Climbing"%>

    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

    <%# <form action='/users' class="align-items-center" id="user-filter">
      <div class="col-12">
        <div class="input-group">
          <input type="text" class="form-control fs-5" id="filterbygender" placeholder="Filter by Gender" name='gender'>
          <select>
            <option value = "male">Male</option>
            <option value = "female">Female</option>
         </select>
          <input type="submit">
       </div>
       <div class="input-group">
          <input type="text" class="form-control fs-5" id="filterbylevel" placeholder="Filter by Level" name='level'>
          <select>
            <option value = "beginner">Beginner</option>
            <option value = "intermediate">Intermediate</option>
            <option value = "advanced intermediate">Advanced Intermediate</option>
            <option value = "advanced">Advanced</option>
         </select>
          <input type="submit">
       </div>
       <div class="input-group">
          <input type="text" class="form-control fs-5" id="filterbytypeofclimbing" placeholder="Filter by Type of Climbing" name='type_of_climbing'>
          <select>
            <option value = "indoor bouldering">Indoor Bouldering</option>
            <option value = "indoor sport climbing">Indoor Sport Climbing</option>
            <option value = "indoor top roping">Indoor Top Roping</option>
            <option value = "outdoor bouldering">Outdoor Bouldering</option>
            <option value = "outdoor sport climbing">Outdoor Sport Climbing</option>
            <option value = "outdoor trad climbing">Outdoor Trad Climbing</option>
         </select>
          <input type="submit">
        </div>
      </div>
    </form> %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
