
<div class="users-show">
  <div class="container">
    <div class="row my-3">
        <div class="col-6 text-center">
          <%= cl_image_tag @user.photo.key %>
        </div>
      <div class="col-6 text-center user-info">
        <div class="row">
    </div>
          <h1>Welcome, <%= @user.first_name.titleize %></h1>
        <div class="row my-3">
          <div class="col-6">
            <p><%= @user.gender == "male" ? '<i class="fa-solid fa-mars text-warning"></i>'.html_safe : '<i class="fa-solid fa-venus text-warning"></i>'.html_safe %><%= " "%><%= @user.age %></p>
          </div>
          <div class="col-6">
            <p><i class="fa-solid fa-arrow-up-wide-short text-warning"></i><%=" "%><%= @user.level.capitalize %></p>
          </div>
             </div>
        <div class="row my-3">
          <div class="col-6">
            <p><i class="fa-solid fa-map-pin text-warning"></i><%=" "%><%= @user.location %></p>
          </div>
          <div class="col-6">
            <p><i class="fa-solid fa-mountain text-warning"></i><%=" "%><%= @user.types_of_climbing.join %></p>
          </div>
          <div>
          <%= link_to 'Edit My Profile', edit_user_registration_path, class: "btn" %>
        </div>
        </div>
      </div>

      </div>
          <div class="row my-3">
          <div class="col-6 text-center">

  <% if @user.reviews.empty? %>
    <small><em class="text-muted">Get a first review soon!</em></small>
  <% end %>

<div class="", id="user-review-box">
  <h3 class="text-center fs-2 fw-bolder mt-5 text-light">Previous Reviews</h3>
    <% @user.reviews.each do |review| %>
      <p><%= review.description %></p><%='<i class="fas fa-star star-yellow  text-warning"></i>'.html_safe * review.rating %><br><p><%= time_ago_in_words( review.created_at) %> ago</p>
    <% end %>
  </div>
</div>

    <div class="col-6 text-center">
      <div id="map" style="width: 100%; height: 600px; margin: auto;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
     <br>
      <p class="fs-5"><%= link_to "Back to Climbers", users_path %></p>
    </div>
</div>
